/* Blog Card ---------------------------------- */
.blog-area {
    background-size: 100% 100%;
}
.blog-slider {
    margin-bottom: -15px;
}
.blog-card {
    background: #fff;
    .blog-title {
        margin-bottom: 19px;
        font-weight: 700;
        line-height: 40px;
        &.box-title {
            line-height: 30px;
            margin-top: 0;
        }
    }
    .blog-img {
        overflow: hidden;
        img {
            width: 100%;
            transition: 0.4s ease-in-out;
        }
    }    
    .date {
        background: $white-color;
        display: inline-block;
        border-radius: 0;
        height: 70px;
        width: 70px;
        text-align: center;
        position: absolute;
        right: 40px;
        border-bottom: 2px solid $theme-color;
        box-shadow: 0px 10px 40px rgba(1, 19, 60, 0.06);
        transform: translate(0, calc(-100% + 10px));
        top: 0;
        p {
            font-size: 14px;
            font-weight: 600;
            margin-bottom: 0;
            margin-top: 10px;
            color: $body-color;
            font-family: $title-font;
            &::first-line {
                font-size: 30px;
                font-weight: 700;
                color: $title-color;
                line-height: 30px;
            }
        }        
    }
    .blog-content {
        padding: 35px 40px 38px;
        position: relative;  
        background: $white-color;
        box-shadow: 0px 8px 15px rgba(4, 6, 66, 0.06);
        margin-bottom: 15px;
    }
    .blog-meta {
        margin-bottom: 12px;
        a {
            font-size: 16px;
            color: $body-color;
            font-weight: 500;
            margin: 0;
            padding: 0;
            ~ a {
                border-left: 1px solid rgba(22, 25, 33, 0.1);
                padding-left: 20px;
                margin-left: 15px;
            }
            &:before,
            &:after {
                display: none;
            }
        }
        i,svg {
            color: $theme-color;
            transition: 0.4s;
            margin-right: 6px;
        }
        a:hover {
            color: $theme-color;
        }
        
    }
    &:hover {
        .blog-img {
            img {
                transform: scale(1.08);
            }
        }
    }
}  
@media all and (min-width: 1200px) and (max-width: 1400px) {
    .blog-card .blog-content {
        padding: 35px 30px 28px;
    }
}
@include md {
    .blog-card {
        .date {
            right: 30px;
        }
        .blog-content {
            padding: 35px 30px 28px;
        }
        .blog-title {
            font-size: 22px;
        }
    }
}
@include vxs {
    .blog-card .blog-content {
        padding: 43px 20px 22px;
    }
    .blog-card .blog-meta {
        padding-left: 0px;
        margin-bottom: 15px;
        a~a {
            padding-left: 15px;
            margin-left: 10px;
        }
    }
}